<?xml version="1.0"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>runTest</servlet-name>
        <servlet-class>WebTester.runTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>runTest</servlet-name>
        <url-pattern>/runTest</url-pattern>
    </servlet-mapping>
</web-app>